li {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

li span {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
